<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>UTI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="../assets/css_1/bootstrap.min_v5.1.3.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link href="../assets/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- <link href="../assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
  <link href="../assets/bootstrap-icons_1/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/css_1/main.css" rel="stylesheet">
  <!-- <link href="../assets/css/main.css" rel="stylesheet"> -->
  <link href="../assets/css_1/style.css" rel="stylesheet">
  <!-- <link href="../assets/css/style.css" rel="stylesheet">  -->
  <!-- <link href="../assets/css/bootstrap-n.css" rel="stylesheet"/> -->
  <link href="../assets/css_1/bootstrap-n.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>

<style>
  .form-select {
    font-size: 16px;
  }
</style>
<body id="sidebar">
  <!-- header start -->
  <div uti-include-html="../includes/header1.html"></div>
  <!-- header end -->
  
  <!-- sidebar start -->
  <div uti-include-html="../includes/sidebar.html"></div>
  <!-- sidebar end -->
  <!-- sidebar start -->
  <div uti-include-html="../includes/sidebar.html"></div>
  <!-- sidebar end -->
  <main id="main" class="main">
    <section class="section dashboard">
        <div class="">
            <h4>TEMPLATE MODULE</h4><hr>
            <table class="table small border table-hover" id="sortable">
                <thead>
                <tr class="">
                 
                  <th scope="col" id="colall"><input type="checkbox"  id="alltxt" /> </th>
                  <th scope="col">Subject </i></th>
                  <th scope="col">Published </i></th>
                  <th scope="col">Posted On </i></th>
                  <th scope="col">Modified </i></th>
               
                </tr>
              </thead>
                <tbody>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td><a href="../template/announcement.html">Announcement for Mapping change </a></td>
                  
                  <td>True</td>
                  <td>10/04/2021 12:27:24PM</td>
                  <td>10/04/2021 12:30:26PM</td>
             
                  
                </tr>
                <tr>
                  <td><a href=""><input type="checkbox" /></td>
                  <td><a href="../template/completion.html">Completion of the Mapping activity </a></td>
               
                  <td>True</td>
                  <td>10/04/2021 12:30:26PM</td>
                  <td>10/04/2021 12:30:26PM</td>
               
                 
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td><a href="../template/remainders.html">Reminders to CM/RH for pending of Mapping Change data </a></td>
                  
                  <td>True</td>
                  <td>10/01/2021 2:17:16PM</td>
                  <td>10/1/2021 2:17:16PM</td>
                
                </tr>
                 <tr>
                  <td><input type="checkbox"  /></td>
                  <td><a href="../template/ticket discard.html">Once Ticket is discarded</a></td>
               
                  <td>True</td> 
                  <td>10/04/2021 11:12:15PM</td>
                  <td>10/04/2021 11:12:15AM</td>
                 
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td><a href="../template/reopening-ticket.html">Reopening Ticket</a></td>
                 
                  <td>True</td>
                  <td>10/04/2021 12:33:02</td>
                  <td>10/04/2021 12:33:02PM</td>
                 
                </tr>
                <tr>
                  <td><input type="checkbox"  /></td>
                  <td><a href="../template/mapping-for-rtl-bnnd-channel.html">Mapping for RTL BNND Channel (RM Mapping)</a></td>

                  <td>True</td>
                  <td>10/04/2021 8:48:51AM</td>
                  <td>10/17/2021 8:48:51AM</td> 
                  </tr>

                  <tr>
                    <td><input type="checkbox"  /></td>
                    <td><a href="../template/mail-from-checker-to-maker-regarding.html">Mail from Checker to Maker Regarding Approval</a></td>
  
                    <td>True</td>
                    <td>10/04/2021 8:48:51AM</td>
                    <td>10/17/2021 8:48:51AM</td> 
                    </tr>

                    <tr>
                      <td><input type="checkbox"  /></td>
                      <td><a href="../template/mail-from-checker-rejection.html">Mail from Checker to Maker Regarding  Rejection</a></td>
    
                      <td>True</td>
                      <td>10/04/2021 8:48:51AM</td>
                      <td>10/17/2021 8:48:51AM</td> 
                      </tr>

                      <tr>
                        <td><input type="checkbox"  /></td>
                        <td><a href="../template/mapping-for-inst-channel-maker-checker.html">Mapping for INSTI Channel – Maker /Checker</a></td>
      
                        <td>True</td>
                        <td>10/04/2021 8:48:51AM</td>
                        <td>10/17/2021 8:48:51AM</td> 
                        </tr>

                        <tr>
                          <td><input type="checkbox"  /></td>
                          <td><a href="../template/master-bulk-maker-checker.html"> Master(Bulk)–Maker/Checker Approval/Rejection of Changes</a></td>
        
                          <td>True</td>
                          <td>10/04/2021 8:48:51AM</td>
                          <td>10/17/2021 8:48:51AM</td> 
                          </tr>

                          <tr>
                            <td><input type="checkbox"  /></td>
                            <td><a href="../template/maker-to-checker-rejection.html">Master(Bulk)-Checker to Maker Regarding Rejection</a></td>
          
                            <td>True</td>
                            <td>10/04/2021 8:48:51AM</td>
                            <td>10/17/2021 8:48:51AM</td> 
                            </tr>

                            <tr>
                              <td><input type="checkbox"  /></td>
                              <td><a href="../template/vymo-mapping.html">VYMO Mapping</a></td>
            
                              <td>True</td>
                              <td>10/04/2021 8:48:51AM</td>
                              <td>10/17/2021 8:48:51AM</td> 
                              </tr>
              
          
              </tbody>
              </table>
              </div>
          



    </section>
  </main>
  <footer id="footer" class="footer">
    <div class="copyright">&copy; Copyright <strong><span>UTI</span></strong>
      <script type="text/javascript">
        var d = new Date();
        yr = d.getFullYear();
        document.write(yr);

        $(document).ready(function () {
          $('#action').multiselect();
        });   
      </script>. All Rights Reserved
    </div>
  </footer>
  <script src="../assets/js_1/bootstrap.bundle.min_v5.1.3.js"></script>
  <!-- <script src="../assets/js/bootstrap.bundle.min_v5.1.3.js"></script> -->
  <script src="../assets/js_1/jquery-2.2.4.min.js"></script>
  <!-- <script src="../assets/js/jquery-2.2.4.min.js"></script> -->
  <script src="../assets/js_1/jquery.multi-select.js"></script>
  <!-- <script src="../assets/js/jquery.multi-select.js"></script> -->
  <script src="../assets/js_1/main.js"></script>
  <!-- <script src="../assets/js/main.js"></script> -->
  <script src="../assets/js_1/uti.js"></script>
  <!-- <script src="../assets/js/uti.js"></script> -->
  <script src="../assets/js_1/custom.js"></script>
  <!-- <script src="../assets/js/custom.js"></script> -->


</body>

</html>